repos:
  - repo: https://github.com/hadolint/hadolint
    rev: v2.8.0
    hooks:
      - id: hadolint-docker
        always_run: true
        args: ["Dockerfile"]
  # Specify `local` to use local pip versions of the pre-commit libs.
  - repo: local
    hooks:
      - id: linter
        name: Linter
        description: https://github.com/charliermarsh/ruff
        entry: .venv/bin/ruff
        language: python
        files: \.py$
        # Ignore lambda functions in `appcli/models/configuration.py::Hooks`.
        args: [check, --fix, --ignore, E731]
      - id: formatter
        name: Formatter
        description: https://github.com/charliermarsh/ruff
        entry: .venv/bin/ruff
        language: python
        files: \.py$
        args: [format,  --ignore, E731]
      # NOTE: Disabling this for now as there is currently no way to exit gracefully when no test are run.
      # See https://github.com/pytest-dev/pytest/issues/2393
      # - id: pytest
      #   name: PyTest
      #   description: https://docs.pytest.org/en/latest/
      #   entry: .venv/bin/pytest
      #   language: python
      #   files: \.py$
      #   args: []