##
 # Created by brightSPARK Labs
 # www.brightsparklabs.com
 ##

language: python

python:
- 3.8

services:
- docker

env:
  global:
  # DOCKER_USERNAME
  - secure: T+s55tCKiKwGumySfNh5NgSRU9aFp4H82yDhDzhNX1JUJHkaWXXZNZw3FrzKD7odg1KW9McyC5QNGQKYdl2+zr/b9Lnw8R/Q1wH3V9ox5rzIE23NsMdvmhJpjzICN66KQtEaTGZlzOkbM3UXMlyFwmYJD4jatmwLfTOeUr2EeXkH638xqmvMunFVvePiq9ZsCUdZ3iAsdNcVIGWayEpnHFTCaKjtSrFlSnC6xy5Hl9YR66znFvoXptbUSTohnSKK29Y4w5A7zEOVPFv/H0Xd/wJz3nziWF/O5tlCLHgfI/E1TZ3I5I2Os02agt2gievJisilQepTCGy0rn5p5uUI/AZD9Dp5xCe7MkfEPrCG4UmLJWjmTP0pTVr3e7nXWKeEfS+sN6Zdk1Ca7BoK4e/KUc4LTUzPWjD/jAMPSDNLJSVaUsIAQZpZDk/6DXxY0jG26VFNNFKmEEjw4y53mZvMe4LpA0nLLmQfwtY9gu+H6mPoPywyPGjIJPbJtig6prdQeI+6MwoQjYZs+5LIHTOXS4DT43XWSF262WgltO+/conaG6OJlMeKqMT9CM4xVlA1Bsy2kmcnwISyWUAVd3OEB4XtryyRMrc59S2E+FEfDH+x/knQh9RO3eeXEu64SHQBRey9t/Nwsm1wP4FJ6C9IybsfqhRulyJHS8Ww8ibnOQs=
  # DOCKER_PASSWORD
  - secure: sMjr0hB75DEmX8Iz22wWoyjTu/kSAVOu0M7ly85jIMZu2exiK+Who8FnqbAQ/AT3gH8sS8xE/df7yKQVGqp5A3B7aVCGnmvuL4CDAMAkfE0zwWXhFCyF/c0xKL6POOZb09MAAq+XQi3qiRVWBBXS9/iP1QoXgE+qpOPgWcJO4akWueHLAiWwdF4E2r3l0AHqGrpZy95d1uDxg/B0ek2JfWk8ylwEhzwpuBzoYpbvCFSYdaf20KE+pbsUyL6cR9J9hYw1LM7qBUu4y/n/rGjfMprGy79pl22X0B6YDSR3FZXp1aoPMdEfPhFpZ9xJf2KVQOZHKQDW/je32wbuDM9eGEgGPVNotzXGKOmA3/4GKe3zqAoSYSUaU4PXlPX23F5CUBAHY23P/SGxT+QlBf9ChHnIcQf6OXzUfQAl0v9AmTzDdZz4q+UarAvE8+dZx2OyweflP3nDKBQWIJRhwAWnQZj2gPRn5AwOiPWKxYbCJKy46FQYqKw3zhzUyUm/eR5muovXeAXmATk0hO3Rgq9lDqPaAsTMBTRpojs7uFWPFjVLMU7Te7xO9o2o2/wyax9xjcpo5KP9GJCQfTktaqVDoYano7QA69Yx9NyC+6kV/fV3S71/LXwLrgFb1roUh7e1sqLa3uFyyFU9zzjQ+S3h6NE1XJCqqOzJjy7kqjCuSAw=

notifications:
  email:
    if: branch IN (develop, master)
    on_success: change
    recipients:
    - admin@brightsparklabs.com

install: skip

jobs:
  include:
  - stage: unit tests
    script: VENV_NAME=${VIRTUAL_ENV} make test lint
  - stage: publish
    if: branch = develop
    script: make docker-publish
