name: Test Python

on:
  push:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
        # fetch all history for all branches and tags, so that our `make` targets can get tags
        with:
          fetch-depth: 0
      - name: Cache Devbox and UV.
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/devbox
            ~/.cache/uv
          key: ${{ runner.os }}-${{ hashFiles('devbox.json', 'pyproject.toml') }}
      - name: Install Devbox
        uses: jetify-com/devbox-install-action@v0.14.0
      - name: Install depenencies
        run: devbox run -- make venv
      - name: Check python
        run: devbox run -- make check
